/* @override http://0.0.0.0:3000/stylesheets/scaffold.css?1245703488 */

/* @override http://0.0.0.0:3000/stylesheets/scaffold.css?1245685250 */

body { background-color: silver; color: #333; 
}
container { background-color: #fff; color: #333; width: 600px;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

textarea#post_body {
	height: 30px;
	width: 400px;
	border: 3px solid silver;
	background-color: #eee;
}

h1 {
	font-weight: normal;
	font-style: normal;
	color: gray;
	font-size: medium;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000;
	font-size: medium;
	font-weight: normal;
	font-style: normal;
}

input#post_title {
		height: 30px;
	width: 400px;
	border: 3px solid silver;
	background-color: #eee;
	
}
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
	margin: 0px 0px 0px 300px;
	width: 400px;
	background-color: white;
	padding:20px;
}

